* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.leaderboard {
    width: 49%;
}

.lookup {
    float: right;
    width: 49%;
    height: 10rem;
    display: table;
    align-items: center;
    position: relative;
    top: -186px;
}

#username-input-error {
    color: red;
    font-size: 15px;
}

html {
    height: fit-content;
}

body {
    background-color: #777;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
}

input[type="text"].lookup-username-input {
    padding: 7px;
    border-radius: 5px;
    width: 40%;
}

button {
    padding: 5px;
    background-color: dodgerblue;
    border-radius: 5px;
}

#version {
    text-align: center;
}

#refresh-leaderboard {
    float: right;
}
#refresh-leaderboard:disabled {
    background-color: #999;
}
#leaderboard-error {
    float: right;
    color: #f00;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
}