* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

.leaderboard {
    width: 49%;
    position: fixed;
}

.lookup {
    float: right;
    width: 49%;
    height: 10rem;
    display: table;
    align-items: center;
    vertical-align: center;
}

body {
	background-color: #777;
    overflow-x: hidden;
    max-width: 100%;
}

input[type="text"].lookup-username-input {
    padding: 7px;
    border-radius: 5px;
    width: 40%;
}

input[type="submit"] {
    padding: 5px;
    background-color: dodgerblue;
    border-radius: 5px;
}