* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

tbody td[difficulty="easy"] {
    background: rgb(118, 244, 71);
}

tbody td[difficulty="medium"] {
    background: rgb(255, 254, 2);
}

tbody td[difficulty="hard"] {
    background: rgb(254, 124, 0);
}

tbody td[difficulty="difficult"] {
    background: rgb(255, 12, 4);
}

tbody td[difficulty="challenging"] {
    background: rgb(193, 0, 0);
}

tbody td[difficulty="intense"] {
    background: rgb(25, 40, 50);
    color: rgb(255, 255, 255);
}

tbody td[difficulty="remorseless"] {
    background: rgb(201, 1, 201);
}

tbody td[difficulty="insane"] {
    background: rgb(0, 58, 220);
    color: rgb(255, 255, 255);
}

tbody td[difficulty="extreme"] {
    background: rgb(3, 137, 255);
}

tbody td[difficulty="terrifying"] {
    background: rgb(1, 255, 255);
}

tbody td[difficulty="catastrophic"] {
    background: rgb(255, 255, 255);
}

div {
    display: block;
}

table {
    margin: 20px 10px;
    border-radius: 10px;
    display: inline-table;
    border-collapse: separate;
    border-spacing: 1px;
}

.stdtable {
    width: 30%;
}

.uctowers-table,
.ctowers-table {
    width: 95%;
}

.submitbutton {
    border-radius: 5px;
    background-color: cyan;
    color: black;
}

caption {
    caption-side: top;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: white;
    margin: 10px;
    border-radius: 7px;
}

td,
tbody,
tr,
th {
    border-radius: 5px;
    background: white;
}

th {
    top: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

body {
    background-color: rgb(119, 119, 119);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.stdtable th:nth-child(1) {
    width: 60%;
}

.stdtable th:nth-child(2) {
    width: 40%;
}

.uctowers-table th:nth-child(1) {
    width: 40%;
}

.uctowers-table th:nth-child(2) {
    width: 30%;
}

.uctowers-table th:nth-child(3) {
    width: 30%;
}

.uctowers-table th:nth-child(4) {
    width: 45%;
}

.ctowers-table th:nth-child(1) {
    width: 10%;
}

.ctowers-table th:nth-child(2) {
    width: 35%;
}

.ctowers-table th:nth-child(3) {
    width: 20%;
}

.ctowers-table th:nth-child(4) {
    width: 15%;
}

.ctowers-table th:nth-child(5) {
    width: 20%;
}

.updatelog {
    margin-left: 2%;
    margin-top: 4%;
    background-color: rgb(187, 187, 187);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.msgbox {
    margin-left: 5%;
    margin-top: 50px;
    height: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 10%;
    gap: 20px;
}

#uncompleted-tower-container,
#completed-tower-container {
    height: 500px;
    overflow-y: scroll;
}

#uncompleted-tower-container {
    width: 60%;
}

#completed-tower-container {
    width: 80%;
}

tr .det1 {
    display: inline;
}

tr:hover .det1 {
    display: none;
}

tr .det2 {
    display: none;
}

tr:hover .det2 {
    display: inline;
}

tr .det3 {
    display: none;
}

tr:hover .det3 {
    display: none;
}

tr .det4 {
    display: none;
}

tr:hover .det4 {
    display: none;
}

td[completed="true"] {
    background: greenyellow;
}

th[class="tableheader"] {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.sortpanel {
    background: rgb(241, 241, 241);
    border-radius: 3px;
    padding: 10px;
    margin: 40px 20px 20px;
    width: fit-content;
}

.progbar {
    background: greenyellow;
    padding-right: 3px;
    border-radius: 5px;
    white-space: nowrap;
}

.difficultyprogress-table {
    width: 30%;
}

.difficultyprogress-table td:nth-child(1) {
    width: 30%;
}

.difficultyprogress-table td:nth-child(2) {
    width: 70%;
}

.areaunlockprogress-table {
    width: 70%;
}

.areaunlockprogress-table td:nth-child(1) {
    width: 30%;
}

.areaunlockprogress-table td:nth-child(2) {
    width: 30%;
}

.areaunlockprogress-table td:nth-child(3) {
    width: 20%;
}

.areaunlockprogress-table td:nth-child(4) {
    width: 20%;
}

.worldstats-table {
    width: 40%;
}

.worldstats-table td:nth-child(1) {
    width: 50%;
}

.worldstats-table td:nth-child(2) {
    width: 25%;
}

.worldstats-table td:nth-child(3) {
    width: 25%;
}

.globutton {
    padding: 5px;
    margin-top: 10px;
    border: 2px transparent;
    border-radius: 3px;
}

.globutton:hover {
    filter: brightness(85%);
}

table.notunlocked {
    display: none;
}

caption.notunlocked {
    display: none;
    background: rgb(255, 255, 119);
}

tr.notunlocked {
    display: none;
}

tr.notunlocked td:nth-child(1) {
    background: rgb(255, 255, 119);
}

.filterpanel {
    margin: 30px 50px;
    background: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}

.hideinitial {
    display: none;
}

.tablink {
    background-color: rgb(85, 85, 85);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 15%;
}

.compbox {
    margin-right: 3px;
}

.hideinitial {
    display: block;
}